[Unit]
Description=Script that fetches the hottest submissions of any subreddit.

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/local/bin/hotreddit.py
